# Postgres Database connection string from Neon.
# Format: postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require&channel_binding=require
DATABASE_URL=

# You can optionally set DIRECT_URL to use a non-pooled connection for prisma migrations
# DIRECT_URL=

# Google Maps API Key to fetch places
GOOGLE_MAPS_API_KEY=

# GitHub Personal Access Token (PAT) with repo access to upload images
# Create at: https://github.com/settings/tokens
GITHUB_ACCESS_TOKEN2=